// =====================================================
// Base styles
// =====================================================

// Lib imports
// =====================================================
@import "core/core.manifest";

// Content
// =====================================================
html {
  @media screen and (max-aspect-ratio: 16/9) {
    font-size: 1.25vw;
  }

  @media screen and (min-aspect-ratio: 16/9) {
    font-size: 2vh;
  }
}

body {
  background: $softGrey;
  font-family: $RobotoFontFamily;

  @media screen and (max-aspect-ratio: 16/9) {
    font-size: $tabletFont;
  }

  @media screen and (min-aspect-ratio: 16/9) {
    font-size: $baseFont;
  }
}
