@import "../../styles/core/variables";

.header {
  width: 100%;
  height: 100%;

  background: $oceanDeep;
  display: flex;
  align-items: center;
  padding: 1.5rem 2rem;

  .logotype {
    width: 4rem;
    height: 4rem;

    .sphere {
      fill: $primeWhite;

      &__part {
        fill: $oceanDeep;
      }
    }
  }

  .title {
    color: $primeWhite;
    font-size: 150%;
    margin-left: 2rem;

    @media screen and (max-aspect-ratio: 16/9) and (orientation: portrait) {
      font-size: 110%;
    }
  }

  .user-info {
    border: .1rem solid rgba($primeWhite, .3);
    border-radius: $baseBorderRadius;
    margin-left: auto;

    &__title {
      height: 100%;

      color: $primeWhite;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: 300;
      padding: 0 1rem;

      &__icon {
        font-size: 170%;
        margin-left: 1rem;
        transition: all .4s ease;
      }

      &:hover {
        .user-info__title__icon {
          transform: rotate(180deg);
        }
      }
    }
  }
}
