<div class="header">
  <div class="logotype"
       ng-include="'app/images/logotype.svg'"></div>

  <div class="title">Movies</div>

  <div class="user-info">
    <div class="user-info__title">
      <div class="user-info__title__label">My Account</div>
      <div class="user-info__title__icon icon-angle-down"></div>
    </div>

    <div class="user-info__content"></div>
  </div>
</div>
