<div class="slider">
  <div class="slider__firstPage slider__item button" ng-click="$ctrl.change(1)">First</div>

  <div class="slider__prevPage slider__item button" ng-click="$ctrl.change($ctrl.page - 1)">Prev</div>
  <div class="slider__pages slider__item">{{$ctrl.pages}} / {{$ctrl.page}}</div>
  <div class="slider__nextPage slider__item button" ng-click="$ctrl.change($ctrl.page + 1)">Next</div>

  <div class="slider__lastPage slider__item button" ng-click="$ctrl.change($ctrl.pages)">Last</div>
</div>
