@import "../../styles/core/variables";

.slider {
  //background: rgba($oceanDeep, .3);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: .5rem;

  &__pages {
    padding: 1rem 1.6rem;
  }

  &__item {
    border: .1rem solid $oceanGrey;
    margin-right: -.1rem;

    &:first-child {
      border-radius: $baseBorderRadius 0 0 $baseBorderRadius;

      @media screen and (max-aspect-ratio: 16/9) {
        border-radius: $mobileBorderRadius 0 0 $mobileBorderRadius;
      }
    }

    &:last-child {
      border-radius: 0 $baseBorderRadius $baseBorderRadius 0;
      margin-right: 0;

      @media screen and (max-aspect-ratio: 16/9) {
        border-radius: 0 $mobileBorderRadius $mobileBorderRadius 0;
      }
    }
  }

  & .button {  }
}
