<div class="app__wrapper">
  <header class="app__header"></header>

  <grid class="app__content" posters="$ctrl.postersInfo.posters"></grid>

  <slider class="app__slider"
          pages="$ctrl.postersInfo.total_pages"
          page="$ctrl.postersInfo.page"
          change="$ctrl.onPageChange"></slider>
</div>
