@import "../styles/core/variables";

.app {
  &__wrapper {
    position: relative;

    height: 100%;

    display: flex;
    flex-direction: column;
    overflow: hidden;
  }

  &__header {
  }

  &__content {
    height: 100%;

    display: inline-flex;
    flex-direction: column;
    overflow: hidden;
    padding: .7rem;
  }

  &__slider {
  }
}
