<div class="grid__title">Latest releases</div>

<div class="grid__content">
  <div class="movieItem__wrapper" ng-repeat="poster in $ctrl.posters">
    <div class="movieItem">
      <div class="movieItem__bg"
           ng-style="poster.poster_path != null ? { backgroundImage: 'url({{poster.poster_path}})' } : { backgroundImage: 'url(app/images/default-poster.jpg)' }"></div>
    </div>
  </div>
</div>
