@import "../../styles/core/variables";

.grid {
  &__title {
    padding: 0 1.5rem;
  }

  &__content {
    height: 100%;

    display: flex;
    flex-wrap: wrap;
    overflow-y: auto;
  }
}

.movieItem {
  &__wrapper {
    height: 50%;

    flex-basis: 16.666666667%;
    padding: .5rem 1.5rem;

    @media screen and (max-aspect-ratio: 16/9) {
      height: 44%;

      flex-basis: 50%;
      padding: 1.5rem;
    }
  }

  height: 100%;

  border-radius: $baseBorderRadius;
  box-shadow: 0 2px 5px rgba(0,0,0,.26);
  overflow: hidden;

  @media screen and (max-aspect-ratio: 16/9) {
    border-radius: $mobileBorderRadius;
  }

  &__bg {
    height: 100%;

    background-size: cover;
  }
}
