//---------------------------------------------------
// Buttons styles
//---------------------------------------------------

// Content -/- flat button
// --------------------------------------------------
.button {
  color: $primeBlue;
  padding: 1rem 1.6rem;
  transition: all .4s ease;

  &:hover {
    background: rgba($oceanDeep, .2);
    color: rgba($primeWhite, .7);
    cursor: pointer;
  }

  &:active {
    box-shadow: inset 0 .2rem .1rem rgba($oceanDeep, 1);
    transition: all 0s ease;
  }
}
