// Variables
// =====================================================
// Color Variables
// -----------------------------------------------------
$primeWhite:            #ffffff;
$primeBlack:            #000000;
$primeGreen:            #8ae6cf;
$primeBlue:             #2c87ce;
$primeRed:              #ce2c52;

$softGrey:              #f6f6f6;
$opinionGrey:           #eaf2f4;
$oceanGrey:             #cdcdcd;
$oceanDeep:             #474e5a;
$oceanBlue:             #aba7b1;
$starGrey:              #878787;
$moonBrown:             #2c303d;
$streetGrey:            #282828;
$nextPrev:              #949494;

// Font Variables
// -----------------------------------------------------
$baseFont:              1.7rem;
$tabletFont:            3rem;
$mobileFont:            2rem;

// Border Radius Variables
// -----------------------------------------------------
$baseBorderRadius:      .4rem;
$mobileBorderRadius:    1rem;
$buttonBorderRadius:    3rem;

// Desktop container
// -----------------------------------------------------
$containerDesktop:      83.5rem;
$containerTablet:       64rem;
$containerMobile:       40.2rem;

// Other
// -----------------------------------------------------
$RobotoFontFamily:    'Roboto', sans-serif;
// =====================================================
